---
import { useTranslations } from "../utils/i18n";
import { LANGUAGES } from "../constants/languages";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
const { t, lang } = useTranslations(Astro);

const alternateLinks = [
  { lang: LANGUAGES.RU, href: "/ru" },
  { lang: LANGUAGES.EN, href: "/en" },
];
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="language" content={lang} />

{
  alternateLinks.map(({ lang: hrefLang, href }) => (
    <link
      rel="alternate"
      hreflang={hrefLang}
      href={new URL(href, Astro.site).toString()}
    />
  ))
}
